In [1]:
import pandas as pd

In [82]:
dc_data = pd.read_csv('dc-wikia-data.csv',index_col='page_id')
dc_data.head()

,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,YEAR
page_id,,,,,,,,,,,,
1422,Batman (Bruce Wayne),\/wiki\/Batman_(Bruce_Wayne),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3093.0,"1939, May",1939.0
23387,Superman (Clark Kent),\/wiki\/Superman_(Clark_Kent),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2496.0,"1986, October",1986.0
1458,Green Lantern (Hal Jordan),\/wiki\/Green_Lantern_(Hal_Jordan),Secret Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1565.0,"1959, October",1959.0
1659,James Gordon (New Earth),\/wiki\/James_Gordon_(New_Earth),Public Identity,Good Characters,Brown Eyes,White Hair,Male Characters,NaN,Living Characters,1316.0,"1987, February",1987.0
1576,Richard Grayson (New Earth),\/wiki\/Richard_Grayson_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,1237.0,"1940, April",1940.0

In [83]:
dc_data.shape

(6896, 12)

In [84]:
dc_data.info

<bound method DataFrame.info of                                  name                               urlslug  \
page_id
1422             Batman (Bruce Wayne)          \/wiki\/Batman_(Bruce_Wayne)
23387           Superman (Clark Kent)         \/wiki\/Superman_(Clark_Kent)
1458       Green Lantern (Hal Jordan)    \/wiki\/Green_Lantern_(Hal_Jordan)
1659         James Gordon (New Earth)      \/wiki\/James_Gordon_(New_Earth)
1576      Richard Grayson (New Earth)   \/wiki\/Richard_Grayson_(New_Earth)
...                               ...                                   ...
66302         Nadine West (New Earth)       \/wiki\/Nadine_West_(New_Earth)
283475     Warren Harding (New Earth)    \/wiki\/Warren_Harding_(New_Earth)
283478   William Harrison (New Earth)  \/wiki\/William_Harrison_(New_Earth)
283471   William McKinley (New Earth)  \/wiki\/William_McKinley_(New_Earth)
150660             Mookie (New Earth)            \/wiki\/Mookie_(New_Earth)

                      ID            ALIGN         EYE        HAIR  \
page_id
1422     Secret Identity  Good Characters   Blue Eyes  Black Hair
23387    Secret Identity  Good Characters   Blue Eyes  Black Hair
1458     Secret Identity  Good Characters  Brown Eyes  Brown Hair
1659     Public Identity  Good Characters  Brown Eyes  White Hair
1576     Secret Identity  Good Characters   Blue Eyes  Black Hair
...                  ...              ...         ...         ...
66302    Public Identity  Good Characters         NaN         NaN
283475   Public Identity  Good Characters         NaN         NaN
283478   Public Identity  Good Characters         NaN         NaN
283471   Public Identity  Good Characters         NaN         NaN
150660   Public Identity   Bad Characters   Blue Eyes  Blond Hair

                       SEX  GSM              ALIVE  APPEARANCES  \
page_id
1422       Male Characters  NaN  Living Characters       3093.0
23387      Male Characters  NaN  Living Characters       2496.0
1458       Male Characters  NaN  Living Characters       1565.0
1659       Male Characters  NaN  Living Characters       1316.0
1576       Male Characters  NaN  Living Characters       1237.0
...                    ...  ...                ...          ...
66302    Female Characters  NaN  Living Characters          NaN
283475     Male Characters  NaN  Living Characters          NaN
283478     Male Characters  NaN  Living Characters          NaN
283471     Male Characters  NaN  Living Characters          NaN
150660     Male Characters  NaN  Living Characters          NaN

        FIRST APPEARANCE    YEAR
page_id
1422           1939, May  1939.0
23387      1986, October  1986.0
1458       1959, October  1959.0
1659      1987, February  1987.0
1576         1940, April  1940.0
...                  ...     ...
66302                NaN     NaN
283475               NaN     NaN
283478               NaN     NaN
283471               NaN     NaN
150660               NaN     NaN

[6896 rows x 12 columns]>

In [85]:
marvel_data = pd.read_csv('marvel-wikia-data.csv', index_col='page_id')
marvel_data.head()

,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
page_id,,,,,,,,,,,,
1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0
7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0
64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0
1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1963.0
2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1950.0

In [86]:
marvel_data.shape

(16376, 12)

In [87]:
marvel_data.info

<bound method DataFrame.info of                                         name  \
page_id
1678               Spider-Man (Peter Parker)
7139         Captain America (Steven Rogers)
64786    Wolverine (James \"Logan\" Howlett)
1868       Iron Man (Anthony \"Tony\" Stark)
2460                     Thor (Thor Odinson)
...                                      ...
657508                    Ru'ach (Earth-616)
665474       Thane (Thanos' son) (Earth-616)
695217         Tinkerer (Skrull) (Earth-616)
708811        TK421 (Spiderling) (Earth-616)
673702                 Yologarch (Earth-616)

                                         urlslug                ID  \
page_id
1678                 \/Spider-Man_(Peter_Parker)   Secret Identity
7139           \/Captain_America_(Steven_Rogers)   Public Identity
64786    \/Wolverine_(James_%22Logan%22_Howlett)   Public Identity
1868       \/Iron_Man_(Anthony_%22Tony%22_Stark)   Public Identity
2460                       \/Thor_(Thor_Odinson)  No Dual Identity
...                                          ...               ...
657508                    \/Ru%27ach_(Earth-616)  No Dual Identity
665474       \/Thane_(Thanos%27_son)_(Earth-616)  No Dual Identity
695217           \/Tinkerer_(Skrull)_(Earth-616)   Secret Identity
708811          \/TK421_(Spiderling)_(Earth-616)   Secret Identity
673702                   \/Yologarch_(Earth-616)               NaN

                      ALIGN         EYE        HAIR              SEX  GSM  \
page_id
1678        Good Characters  Hazel Eyes  Brown Hair  Male Characters  NaN
7139        Good Characters   Blue Eyes  White Hair  Male Characters  NaN
64786    Neutral Characters   Blue Eyes  Black Hair  Male Characters  NaN
1868        Good Characters   Blue Eyes  Black Hair  Male Characters  NaN
2460        Good Characters   Blue Eyes  Blond Hair  Male Characters  NaN
...                     ...         ...         ...              ...  ...
657508       Bad Characters  Green Eyes     No Hair  Male Characters  NaN
665474      Good Characters   Blue Eyes        Bald  Male Characters  NaN
695217       Bad Characters  Black Eyes        Bald  Male Characters  NaN
708811   Neutral Characters         NaN         NaN  Male Characters  NaN
673702       Bad Characters         NaN         NaN              NaN  NaN

                     ALIVE  APPEARANCES FIRST APPEARANCE    Year
page_id
1678     Living Characters       4043.0           Aug-62  1962.0
7139     Living Characters       3360.0           Mar-41  1941.0
64786    Living Characters       3061.0           Oct-74  1974.0
1868     Living Characters       2961.0           Mar-63  1963.0
2460     Living Characters       2258.0           Nov-50  1950.0
...                    ...          ...              ...     ...
657508   Living Characters          NaN              NaN     NaN
665474   Living Characters          NaN              NaN     NaN
695217   Living Characters          NaN              NaN     NaN
708811   Living Characters          NaN              NaN     NaN
673702   Living Characters          NaN              NaN     NaN

[16376 rows x 12 columns]>

In [13]:
dc_data.isnull().sum()

name                   0
urlslug                0
ID                  2013
ALIGN                601
EYE                 3628
HAIR                2274
SEX                  125
GSM                 6832
ALIVE                  3
APPEARANCES          355
FIRST APPEARANCE      69
YEAR                  69
dtype: int64

In [16]:
marvel_data.isnull().sum()

name                    0
urlslug                 0
ID                   3770
ALIGN                2812
EYE                  9767
HAIR                 4264
SEX                   854
GSM                 16286
ALIVE                   3
APPEARANCES          1096
FIRST APPEARANCE      815
Year                  815
dtype: int64

In [40]:
dc_data.columns

Index(['name', 'urlslug', 'ID', 'ALIGN', 'EYE', 'HAIR', 'SEX', 'GSM', 'ALIVE',
       'APPEARANCES', 'FIRST APPEARANCE', 'YEAR'],
      dtype='object')

In [18]:
marvel_data.columns

Index(['name', 'urlslug', 'ID', 'ALIGN', 'EYE', 'HAIR', 'SEX', 'GSM', 'ALIVE',
       'APPEARANCES', 'FIRST APPEARANCE', 'Year'],
      dtype='object')

In [ ]:
#Cleaning Data

In [41]:
dc_data=dc_data.drop('GSM',axis=1)

In [42]:
marvel_data=marvel_data.drop('GSM',axis=1)

In [43]:
dc_data['ID']=dc_data['ID'].fillna('Identity Unknown')

In [51]:
dc_data['ID'].value_counts().sum()

6896

In [47]:
marvel_data['ID']=marvel_data['ID'].fillna('Identity Unknown')

In [50]:
marvel_data['ID'].value_counts().sum()

16376

In [52]:
dc_data['ALIGN']=dc_data['ALIGN'].fillna('Neutral Characters')
dc_data['ALIGN'].value_counts().sum()

6896

In [54]:
marvel_data['ALIGN']=marvel_data['ALIGN'].fillna('Neutral Characters')
marvel_data['ALIGN'].value_counts().sum()

16376

In [58]:
dc_data['EYE']=dc_data['EYE'].fillna('Unknown Eyes')
dc_data['EYE'].value_counts().sum()

6896

In [60]:
marvel_data['EYE']=marvel_data['EYE'].fillna('Unknown Eyes')
marvel_data['EYE'].value_counts().sum()

16376

In [62]:
dc_data['HAIR']=dc_data['HAIR'].fillna('Unknown Hair')
dc_data['HAIR'].value_counts().sum()

6896

In [64]:
marvel_data['HAIR']=marvel_data['HAIR'].fillna('Unknown Hair')
marvel_data['HAIR'].value_counts().sum()

16376

In [66]:
dc_data['SEX']=dc_data['SEX'].fillna('Unknown Characters')
dc_data['SEX'].value_counts().sum()

6896

In [68]:
marvel_data['SEX']=marvel_data['SEX'].fillna('Unknown Characters')
marvel_data['SEX'].value_counts().sum()

16376

In [70]:
dc_data['ALIVE']=dc_data['ALIVE'].fillna('Unknown Characters')
dc_data['ALIVE'].value_counts().sum()

6896

In [72]:
marvel_data['ALIVE']=marvel_data['ALIVE'].fillna('Unknown Characters')
marvel_data['ALIVE'].value_counts().sum()

16376

In [74]:
dc_data['APPEARANCES']=dc_data['APPEARANCES'].fillna(0)
dc_data['APPEARANCES'].value_counts().sum()

6896

In [76]:
marvel_data['APPEARANCES']=marvel_data['APPEARANCES'].fillna(0)
marvel_data['APPEARANCES'].value_counts().sum()

16376

In [78]:
dc_data['FIRST APPEARANCE']=dc_data['FIRST APPEARANCE'].fillna(0)
dc_data['FIRST APPEARANCE'].value_counts().sum()

6896

In [80]:
marvel_data['FIRST APPEARANCE']=marvel_data['FIRST APPEARANCE'].fillna(0)
marvel_data['FIRST APPEARANCE'].value_counts().sum()

16376

In [81]:
dc_data['Year'].value_counts()

KeyError: 'Year'