In [1]:
import pandas as pd

In [7]:
bigmac = pd.read_csv('bigmac.csv', usecols=['Country'], squeeze=True)

C:\Users\Zhanat\AppData\Local\Temp\ipykernel_9668\277936789.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  bigmac = pd.read_csv('bigmac.csv', usecols=['Country'], squeeze=True)

In [10]:
bigmac.sort_values(ascending=False).tail()

225    Argentina
168    Argentina
112    Argentina
56     Argentina
0      Argentina
Name: Country, dtype: object

In [17]:
bigmac.sort_values(ascending=False, inplace=True)

In [18]:
bigmac.head()

269    Vietnam
155    Vietnam
212    Vietnam
43     Vietnam
99     Vietnam
Name: Country, dtype: object

In [23]:
bigmac.sort_index(inplace=True)

In [24]:
bigmac.head()

0    Argentina
1    Australia
2       Brazil
3      Britain
4       Canada
Name: Country, dtype: object

In [25]:
'Brazil' in bigmac

False

In [26]:
'Brazil' in bigmac.values

True

In [27]:
bigmac[[1, 100, 200]]

1        Australia
100        Austria
200    South Korea
Name: Country, dtype: object

In [28]:
bigmac[-30:-10]

622       Hong Kong
623         Hungary
624       Indonesia
625          Israel
626           Japan
627          Latvia
628       Lithuania
629        Malaysia
630          Mexico
631     New Zealand
632          Norway
633        Pakistan
634            Peru
635     Philippines
636          Poland
637          Russia
638    Saudi Arabia
639       Singapore
640    South Africa
641     South Korea
Name: Country, dtype: object

In [51]:
bigmac_2 = pd.read_csv('bigmac.csv', index_col='Country', squeeze=True)

C:\Users\Zhanat\AppData\Local\Temp\ipykernel_9668\3506711415.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  bigmac_2 = pd.read_csv('bigmac.csv', index_col='Country', squeeze=True)

In [52]:
bigmac_2.head()

             Date  Price in US Dollars
Country
Argentina  1/2016                 2.39
Australia  1/2016                 3.74
Brazil     1/2016                 3.35
Britain    1/2016                 4.22
Canada     1/2016                 4.14

In [45]:
bigmac_2[30:35]

                Date  Price in US Dollars
Country
South Africa  1/2016                 1.77
South Korea   1/2016                 3.59
Sri Lanka     1/2016                 2.43
Sweden        1/2016                 5.23
Switzerland   1/2016                 6.44

In [57]:
bigmac_2.head()

             Date  Price in US Dollars
Country
Argentina  1/2016                 2.39
Australia  1/2016                 3.74
Brazil     1/2016                 3.35
Britain    1/2016                 4.22
Canada     1/2016                 4.14

In [76]:
bigmac.get(3)

'Britain'

In [77]:
bigmac.count()

652

In [78]:
bigmac.sum()

'ArgentinaAustraliaBrazilBritainCanadaChileChinaColombiaCosta RicaCzech RepublicDenmarkEgyptEuro areaHong KongHungaryIndiaIndonesiaIsraelJapanMalaysiaMexicoNew ZealandNorwayPakistanPeruPhilippinesPolandRussiaSaudi ArabiaSingaporeSouth AfricaSouth KoreaSri LankaSwedenSwitzerlandTaiwanThailandTurkeyUAEUkraineUnited StatesUruguayVenezuelaVietnamAustriaBelgiumEstoniaFinlandFranceGermanyGreeceIrelandItalyNetherlandsPortugalSpainArgentinaAustraliaBrazilBritainCanadaChileChinaColombiaCosta RicaCzech RepublicDenmarkEgyptEuro areaHong KongHungaryIndiaIndonesiaIsraelJapanMalaysiaMexicoNew ZealandNorwayPakistanPeruPhilippinesPolandRussiaSaudi ArabiaSingaporeSouth AfricaSouth KoreaSri LankaSwedenSwitzerlandTaiwanThailandTurkeyUAEUkraineUnited StatesUruguayVenezuelaVietnamAustriaBelgiumEstoniaFinlandFranceGermanyGreeceIrelandItalyNetherlandsPortugalSpainArgentinaAustraliaBrazilBritainCanadaChileChinaColombiaCosta RicaCzech RepublicDenmarkEgyptEuro areaHong KongHungaryIndiaIndonesiaIsraelJapanMalaysiaMexicoNew ZealandNorwayPakistanPeruPhilippinesPolandRussiaSaudi ArabiaSingaporeSouth AfricaSouth KoreaSri LankaSwedenSwitzerlandTaiwanThailandTurkeyUAEUkraineUnited StatesUruguayVenezuelaVietnamAustriaBelgiumEstoniaFinlandFranceGermanyGreeceIrelandItalyNetherlandsPortugalSpainArgentinaAustraliaBrazilBritainCanadaChileChinaColombiaCosta RicaCzech RepublicDenmarkEgyptEuro areaHong KongHungaryIndiaIndonesiaIsraelJapanLithuaniaMalaysiaMexicoNew ZealandNorwayPakistanPeruPhilippinesPolandRussiaSaudi ArabiaSingaporeSouth AfricaSouth KoreaSri LankaSwedenSwitzerlandTaiwanThailandTurkeyUAEUkraineUnited StatesUruguayVenezuelaVietnamAustriaBelgiumEstoniaFinlandFranceGermanyGreeceIrelandItalyNetherlandsPortugalSpainArgentinaAustraliaBrazilBritainCanadaChileChinaColombiaCosta RicaCzech RepublicDenmarkEgyptEuro areaHong KongHungaryIndiaIndonesiaIsraelJapanLithuaniaMalaysiaMexicoNew ZealandNorwayPakistanPeruPhilippinesPolandRussiaSaudi ArabiaSingaporeSouth AfricaSouth KoreaSri LankaSwedenSwitzerlandTaiwanThailandTurkeyUAEUkraineUnited StatesUruguayVenezuelaVietnamAustriaBelgiumEstoniaFinlandFranceGermanyGreeceIrelandItalyNetherlandsPortugalSpainArgentinaAustraliaBrazilBritainCanadaChileChinaColombiaCosta RicaCzech RepublicDenmarkEgyptEuro areaHong KongHungaryIndiaIndonesiaIsraelJapanLatviaLithuaniaMalaysiaMexicoNew ZealandNorwayPakistanPeruPhilippinesPolandRussiaSaudi ArabiaSingaporeSouth AfricaSouth KoreaSri LankaSwedenSwitzerlandTaiwanThailandTurkeyUAEUkraineUnited StatesUruguayVenezuelaAustriaBelgiumEstoniaFinlandFranceGermanyGreeceIrelandItalyNetherlandsPortugalSpainArgentinaAustraliaBrazilBritainCanadaChileChinaColombiaCosta RicaCzech RepublicDenmarkEgyptEuro areaHong KongHungaryIndiaIndonesiaIsraelJapanLatviaLithuaniaMalaysiaMexicoNew ZealandNorwayPakistanPeruPhilippinesPolandRussiaSaudi ArabiaSingaporeSouth AfricaSouth KoreaSri LankaSwedenSwitzerlandTaiwanThailandTurkeyUAEUkraineUnited StatesUruguayVenezuelaAustriaBelgiumEstoniaFinlandFranceGermanyGreeceIrelandItalyNetherlandsPortugalSpainArgentinaAustraliaBrazilBritainCanadaChileChinaColombiaCosta RicaCzech RepublicDenmarkEgyptEuro areaHong KongHungaryIndiaIndonesiaIsraelJapanLatviaLithuaniaMalaysiaMexicoNew ZealandNorwayPakistanPhilippinesPolandRussiaSaudi ArabiaSingaporeSouth AfricaSouth KoreaSri LankaSwedenSwitzerlandTaiwanThailandTurkeyUAEUkraineUnited StatesUruguayVenezuelaAustriaBelgiumEstoniaFinlandFranceGermanyGreeceIrelandItalyNetherlandsPortugalSpainArgentinaAustraliaBrazilBritainCanadaChileChinaColombiaCosta RicaCzech RepublicDenmarkEgyptEuro areaHong KongHungaryIndiaIndonesiaIsraelJapanLatviaLithuaniaMalaysiaMexicoNew ZealandNorwayPakistanPeruPhilippinesPolandRussiaSaudi ArabiaSingaporeSouth AfricaSouth KoreaSri LankaSwedenSwitzerlandTaiwanThailandTurkeyUAEUkraineUnited StatesUruguayVenezuelaAustriaBelgiumEstoniaFinlandFranceGermanyGreeceIrelandItalyNetherlandsPortugalSpainArgentinaAustraliaBrazilBritainCanadaChileChinaColombiaCosta RicaCzech RepublicDenmarkEgyptEuro areaHong KongHungaryIndiaIndonesiaIsraelJapanLatviaLithuaniaMalaysiaMexicoNew ZealandNorwayPakistanPeruPhilippinesPolandRussiaSaudi ArabiaSingaporeSouth AfricaSouth KoreaSri LankaSwedenSwitzerlandTaiwanThailandTurkeyUAEUkraineUnited StatesUruguayVenezuelaAustriaBelgiumEstoniaFinlandFranceGermanyGreeceIrelandItalyNetherlandsPortugalSpainArgentinaAustraliaBrazilBritainCanadaChileChinaColombiaCosta RicaCzech RepublicDenmarkEgyptEuro areaHong KongHungaryIndonesiaIsraelJapanLatviaLithuaniaMalaysiaMexicoNew ZealandNorwayPakistanPeruPhilippinesPolandRussiaSaudi ArabiaSingaporeSouth AfricaSouth KoreaSri LankaSwedenSwitzerlandTaiwanThailandTurkeyUAEUkraineUnited StatesUruguayArgentinaAustraliaBrazilBritainCanadaChileChinaColombiaCosta RicaCzech RepublicDenmarkEgyptEuro areaHong KongHungaryIndonesiaIsraelJapanLatviaLithuaniaMalaysiaMexicoNew ZealandNorwayPakistanPeruPhilippinesPolandRussiaSaudi ArabiaSingaporeSouth AfricaSouth KoreaSri LankaSwedenSwitzerlandTaiwanThailandTurkeyUAEUkraineUnited StatesUruguay'

In [81]:
bigmac.min()

'Argentina'

In [82]:
bigmac.max()

'Vietnam'

In [83]:
bigmac.mode()

0          Argentina
1          Australia
2             Brazil
3            Britain
4             Canada
5              Chile
6              China
7           Colombia
8         Costa Rica
9     Czech Republic
10           Denmark
11             Egypt
12         Euro area
13         Hong Kong
14           Hungary
15         Indonesia
16            Israel
17             Japan
18          Malaysia
19            Mexico
20       New Zealand
21            Norway
22          Pakistan
23       Philippines
24            Poland
25            Russia
26      Saudi Arabia
27         Singapore
28      South Africa
29       South Korea
30         Sri Lanka
31            Sweden
32       Switzerland
33            Taiwan
34          Thailand
35            Turkey
36               UAE
37           Ukraine
38     United States
39           Uruguay
Name: Country, dtype: object

In [84]:
bigmac.unique()

array(['Argentina', 'Australia', 'Brazil', 'Britain', 'Canada', 'Chile',
       'China', 'Colombia', 'Costa Rica', 'Czech Republic', 'Denmark',
       'Egypt', 'Euro area', 'Hong Kong', 'Hungary', 'India', 'Indonesia',
       'Israel', 'Japan', 'Malaysia', 'Mexico', 'New Zealand', 'Norway',
       'Pakistan', 'Peru', 'Philippines', 'Poland', 'Russia',
       'Saudi Arabia', 'Singapore', 'South Africa', 'South Korea',
       'Sri Lanka', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand',
       'Turkey', 'UAE', 'Ukraine', 'United States', 'Uruguay',
       'Venezuela', 'Vietnam', 'Austria', 'Belgium', 'Estonia', 'Finland',
       'France', 'Germany', 'Greece', 'Ireland', 'Italy', 'Netherlands',
       'Portugal', 'Spain', 'Lithuania', 'Latvia'], dtype=object)

In [85]:
bigmac.describe()

count           652
unique           58
top       Argentina
freq             12
Name: Country, dtype: object

In [86]:
bigmac.info()

<class 'pandas.core.series.Series'>
Int64Index: 652 entries, 0 to 651
Series name: Country
Non-Null Count  Dtype
--------------  -----
652 non-null    object
dtypes: object(1)
memory usage: 26.4+ KB

In [88]:
bigmac.value_counts()

Argentina         12
Sri Lanka         12
Pakistan          12
Philippines       12
Poland            12
Russia            12
Saudi Arabia      12
Australia         12
South Africa      12
South Korea       12
Sweden            12
New Zealand       12
Switzerland       12
Taiwan            12
Thailand          12
Turkey            12
UAE               12
Ukraine           12
United States     12
Uruguay           12
Norway            12
Singapore         12
Mexico            12
Denmark           12
Brazil            12
Malaysia          12
Canada            12
Chile             12
China             12
Colombia          12
Costa Rica        12
Czech Republic    12
Britain           12
Egypt             12
Hong Kong         12
Hungary           12
Indonesia         12
Israel            12
Japan             12
Euro area         12
Peru              11
Germany           10
Spain             10
Portugal          10
Netherlands       10
Italy             10
Ireland           10
Greece            10
Belgium           10
France            10
Finland           10
Estonia           10
Austria           10
Venezuela         10
India             10
Lithuania          9
Latvia             7
Vietnam            5
Name: Country, dtype: int64

In [89]:
bigmac_2.value_counts()

Date    Price in US Dollars
1/2010  1.83                   3
7/2011  5.02                   3
7/2012  4.16                   3
7/2011  4.07                   3
7/2015  4.05                   3
                              ..
1/2015  2.22                   1
        2.24                   1
        2.30                   1
        2.43                   1
7/2015  6.82                   1
Length: 613, dtype: int64

In [93]:
def classified(number):
    if number >= 10:
        return 1
    else:
        return 2

In [94]:
bigmac.value_counts().apply(classified)

Argentina         1
Sri Lanka         1
Pakistan          1
Philippines       1
Poland            1
Russia            1
Saudi Arabia      1
Australia         1
South Africa      1
South Korea       1
Sweden            1
New Zealand       1
Switzerland       1
Taiwan            1
Thailand          1
Turkey            1
UAE               1
Ukraine           1
United States     1
Uruguay           1
Norway            1
Singapore         1
Mexico            1
Denmark           1
Brazil            1
Malaysia          1
Canada            1
Chile             1
China             1
Colombia          1
Costa Rica        1
Czech Republic    1
Britain           1
Egypt             1
Hong Kong         1
Hungary           1
Indonesia         1
Israel            1
Japan             1
Euro area         1
Peru              1
Germany           1
Spain             1
Portugal          1
Netherlands       1
Italy             1
Ireland           1
Greece            1
Belgium           1
France            1
Finland           1
Estonia           1
Austria           1
Venezuela         1
India             1
Lithuania         2
Latvia            2
Vietnam           2
Name: Country, dtype: int64

In [101]:
def performance(country):
    if country == 'Brazil':
        return 'OK'
    else:
        return 'Great'

In [102]:
bigmac.apply(performance)

0      Great
1      Great
2         OK
3      Great
4      Great
       ...
647    Great
648    Great
649    Great
650    Great
651    Great
Name: Country, Length: 652, dtype: object